<launch>
	<node name="eross_control_relative_node" pkg="cepheus_robot" type="eross_control_relative_node" output="screen" required="true">
		<param name="loop_rate" value="200.0"/>
	</node>
	<!-- <node name="obsidian_bp1a_node" pkg="cepheus_robot" type="obsidian_bp1a_node" output="screen" required="true">
		<param name="loop_rate" value="200.0"/>
	</node> -->
	<!-- <node name="record_topics_for_verification" pkg="rosbag" type="record" args="-o $(find cepheus_robot)/bags/cepheus  /secs 
																														/rw_torque 
																														/reaction_wheel_pos
																														/reaction_wheel_vel" respawn="true" output="screen"/> -->
	<node name="record_topics_for_verification" pkg="rosbag" type="record" args="-o $(find cepheus_robot)/bags/cepheus  /secs 
																														/ls_torque 
																														/le_torque 
																														/re_torque 
																														/rw_torque 
																														/left_shoulder_pos
																														/left_elbow_pos
																														/right_elbow_pos
																														/left_shoulder_vel
																														/left_elbow_vel
																														/right_elbow_vel
																														/g_x
																														/g_y
																														/g_th
																														/c_th
																														/c_th_des
																														/c_th_dot
																														/det
																														/det_h
																														/uRWn
																														/umrX
																														/umrY
																														/umwn
																														/error_0
																														/error_1
																														/error_2
																														/error_3
																														/error_dot_0
																														/error_dot_1
																														/error_dot_2
																														/error_dot_3
																														/qe_des_x
																														/qe_des_y
																														/qe_des_th
																														/fextx
																														/fexty
																														/force_z
																														/force_y
																														/next
																														/torque_x" respawn="true" output="screen"/>
</launch>
