<?xml version="1.0"?>
<robot>
  <material name="PhaseSpace/Green">
    <color rgba="0.0 0.8 0.0 1.0"/>
  </material>

  <material name="PhaseSpace/DarkGrey">
    <color rgba="0.3 0.3 0.3 1.0"/>
  </material>
  
  <material name="PhaseSpace/LightGrey">
    <color rgba="0.8 0.8 0.8 1.0"/>
  </material>

  <material name="PhaseSpace/Red">
    <color rgba="0.8 0.0 0.0 1.0"/>
  </material>

  <material name="PhaseSpace/Black">
    <color rgba="0 0 0 1.0"/>
  </material>

  <material name="PhaseSpace/Orange">
    <color rgba="1.0 0.487 0 1.0"/>
  </material>

  <material name="PhaseSpace/Silver">
    <color rgba="1.0 1.0 1.0 1.0"/>
  </material>

  <material name="PhaseSpace/Grey">
    <color rgba="0.7 0.7 0.7 1.0"/>
  </material>

  <material name="PhaseSpace/Blue">
    <color rgba="0.0 0.0 0.8 1.0"/>
  </material>

  <material name="PhaseSpace/HandGray">
    <color rgba="0.953 0.996 0.694 1.0"/>
  </material>
  
  <material name="PhaseSpace/SickBlue">
    <color rgba="0.3058 0.5921 0.7294 1.0"/>
  </material>
</robot>